.container {
  width: 100px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgb(77, 48, 48);
}
.addDelete {
  cursor: pointer;
  background-color: steelblue;
  border-radius: 20px;
  border: none;
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: white;
}
.delete {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
